*node_modules

# good place to put all of the projects credentials so that they do not
# get check into version control accidentally.
credentials

headset_bridge/headset_bridge*
headset_bridge/pkg/*
headset_bridge/src/*
headset_bridge/tmp/*
osc_src/pkg/*
osc_src/src/*
osc_src/osc_src*
lighting/lighting.arm
