        body { 
      	background: #ECEFF1; 
      	color: rgba(0,0,0,0.87); 
      	font-family: Roboto, Helvetica, Arial, sans-serif; 
      	margin: 0; 
      	padding: 0; 
      }
      
      .box { 
      	background: white; 
      	max-width: 70%; 
      	margin: 10px auto 16px; 
      	padding: 20px 20px; 
      	border-radius: 3px; 
      	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      
      #shutdown_box {
      	max-width: 40%;
      }  

      h1 { 
      	font-size: 22px; 
      	font-weight: 300; 
      	color: black;
      	margin: 100px auto 16px 14%;
      }
      
      h2 {
      	font-size: 16px;
      	font-weight: 200;
      	color: #77787a;
      	margin: 0px 0 10px;
		}    
		
	  hr {
	  	height: 1px;
	  	background-color: #bfbfbf;
	  	border: 0 none;
	  	margin: 50px auto 0;
	  	max-width: 70%;
	  } 

      p { 
      	line-height: 140%; 
      	font-weight: 200;
      	margin: 0px 0 10px 10px; 
      	font-size: 14px; 
      	color: #77787a;
      }
      
      .loader {
      	  display: none;
		  border: 10px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 10px solid #a8a8a8;
		  width: 50px;
		  height: 50px;
		  animation: spin 1.5s linear infinite;
		  margin-left: 43%;
      }
      
      @keyframes spin {
         0% { transform: rotate(0deg); }
 		 100% { transform: rotate(360deg); }
      }
      
    
      button { 
      	text-align: center;
      	font-weight: 200; 
      	font-family: Roboto, Helvetica, Arial, sans-serif;
      	color: white; 
      	border: none; 
      	border-radius: 8px; 
      	padding 16px; 
      	width: 80%; 
      	height: 80px; 
      	font-size: 18px;  
      	outline: none;
      	margin: 0% 10% 0% 10%;
      }
      button:hover:enabled {
      	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
      
      button:disabled {
      	cursor: not-allowed;
      	pointer-events: none;
      	opacity: 0.5;
      }
      
      button:hover:disabled{
      	box-shadow: none;
      }
    
      #offbutton { 
      	background: #4CAF50;  
      }
      
      #response {
      	display: none; 
      	color: #4CAF50; 
      	font-size: 14px; 
      	padding: 15px; 
      	margin: 0% 10% 0% 10%;
      }
      
/* 
      #fail {
      	display: none;
      	color: red;
      	font-size: 14px;
      	padding: 15px;
      	margin: 0% 10% 0% 10%;
      }
 */
      
      #poweroff { 
      	display: none; 
      	background: red; 
      	}